
/*********************
SIDEBARS & ASIDES
*********************/


// rainbow backgrounds
.glocal-network .sidebar .widget {
	&:first-child {
		background: $green;
	}
	&:nth-child(2) {
		background: $teal;
	}
	&:nth-child(3) {
		background: $blue;
	}
	&:nth-child(4) {
		background: $navy;
	}
}

// sliding hover effect
.sidebar .widget li a,
.footer .widget li a {
		padding-left: 0;
		padding-right: 20px;
    &:hover {
  		padding-left: 15px;
  		padding-right: 5px;
      background: $text-color;
      background: rgba(0,0,0,.1);
    }
}
.footer .widget li a:hover {
  color: $text-color;
}

// don't show menu icons in sidebar
.sidebar .widget .menu a:before {
  display: none;
}