

@font-face {
    font-family: "US101";
    src: url("../fonts/US101.eot?") format("eot"), 
    url("../fonts/US101.woff") format("woff"), 
    url("../fonts/US101.ttf") format("truetype"), 
    url("../fonts/US101.svg#U.S.101") format("svg");
    font-weight: normal;
    font-style: normal;
}
