// MAIN

html,
body {
	background-color: $white;
}

// Homepage

.highlights .module-heading {
    background: $base7 url('../images/home-highlight.png') no-repeat center center;
}

h1,
h2,
h3,
h4 {
	font-family: $header;
}