/******************************************************************
Theme Name: Network Subsite
Theme URI: https://gitorious.org/glocal/activist-network/
Description: Child theme for a group website, based on the Community theme.
Author: Pea, Glocal Coop
Author URI: http://glocal.coop
Template: network-main
Version: 1.0.0
Tags: clean, flexible-width, modularized
Text Domain: network-subsite

/* =Theme customization starts here
