// HEADERS

// GLOBAL HEADER

.header-global {

    // Customize this with something dark
    background-color: $black;

    padding-top: 10px;

    // Logo
    .site-title {
        display: none;
        font-size: 14px;
        line-height: 1;

        a {
            display: inline-block;
            padding: 7px;
            border: 1px solid $white;
            white-space: nowrap;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:focus {
                background-color: $base2;
            }
        }
    }

    // Nav
    .nav-global {}

}

// BREAKPOINT
@include breakpoint(md) {

    .header-global {

        padding: 10px;

        // Logo
        .site-title {
            display: block;
            float: left;
            width: 250/1200 * 100%;
            min-width: 175px;
            margin-top: 0;
            margin-bottom: 0;
            //text-align: center;
        }

        // Nav
        .nav-global {
            float: left;
            width: 950/1200 * 100%;
        }

    }

}



// LOCAL HEADER

.header-local {}