// LISTS

// standard page lists

.entry-content ul {
    list-style: square;
    padding: 0 $space-double $space;
}
.entry-content ol {
    list-style: decimal;
    padding: 0 $space-double $space;
}

// directory promo

.directory-promo {
    text-align: center;
    .post-title {
        color: $white;
        margin: 25% 0 0;
    }
    .promo-icons {
        padding: 10px 0;
        color: $white;
        white-space: nowrap;
        .icon {
            @include font-icon-base($family:"ios7-icon"); 
            @include font-size($alpha);
            line-height: 1;
        }
    }
    a {
        display: block;
        padding: 20px;
        height: 100%;
        &:hover {
            background: $orange;
        }
    }
}

#promo-directory {
    background: $yellow; 
    .icon {@extend %ios7-store;}
}
#promo-network {
    background: $yellow; 
    .icon {@extend %ios7-profile;}
} 
#promo-builder {
    background: $green; 
    .icon {@extend %ios7-sites;}
    a:hover {background: $teal;}
} 


// isotope modules -- widths and margins determined in JS

#isotope.view-grid {
    li {
        width: 285px;
        margin-right: 20px;
    }
}

#isotope.view-list {
    li {
        width: 100%;
        height: 100px;
        margin-right: 0;
    	@include breakpoint(md) {@include span-columns(8); @include omega(2n);}
    }
    .item-image {
    	height: 100%; 
    	width: 100px; 
    	float: left; 
    	margin-right: $space-half;
    }    
    .item-title {
        padding-top: $space-half;
    }
}


// search results 

.search-title {
    margin-bottom: $space-fourth;
}


// HOME PAGE PROMOS

.home .module-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.home .post-excerpt {
    @include font-size($zeta);
    line-height: 1.5;
}

.news, 
.events, 
.sites,
.home .widget_glocal_network_sites_widget,
.home .widget_glocal_network_posts_widget {
    .module-heading {
        @include font-size($epsilon);
        text-transform: uppercase; 
        letter-spacing: $tracking;
    }    
} 


// HIGHLIGHTED CATEGORY PROMO

.widget_glocal_network_post_highlights_widget > h2.module-heading {
	display: none;
}

.highlights .module-heading {
    color: $white;
    background: $base7 url('../images/home-highlight.png') no-repeat center center;
    background-size: cover; 
    padding: 22px;
    margin-bottom: 0;
    height: 150px;
    overflow: hidden;
	@include breakpoint(sm) {@include span-columns(8); height: 300px;}
}

.highlights-list {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  li {
    background: $white;
    padding: $space-third $space;
    margin-bottom: 2px;
  }
  .post-title {
    margin: 3px 0 -3px;
    @include font-size($delta);
  }
  .post-excerpt,
  .post-author {
    //@include font-size($micro);
	}
  .post-excerpt {
    @include font-size($milli);
	}
  .blog-name,
  .post-date,
  .byline {
    display: inline-block;
    @include font-size($micro);
    white-space: nowrap;
    margin: 0 $space-fourth 0 0;
    color: $base4;
    a {
      color: $base4;
    }
  }

	@include breakpoint(sm) {
	  @include span-columns(8);
  }
}

// NETWORK SITES LIST
.home,
.page-template-page-directory {
	
	.sites-list {
		clear: both;
		padding: 0;
		@include fill-parent;
		li {
		  background: $white;
		  margin-top: 0;
		  margin-bottom: 20px;
		  padding: 0;
		  height: 285px;
		  overflow: hidden;
		  box-shadow: 0 $space-third $space 0 rgba(0,0,0,0); // transparent
		  @include transition(box-shadow 0.25s ease);
			@include span-columns(8); 
			@include omega(2n);
			@include breakpoint(md) {@include omega-reset(2n); @include span-columns(4); @include omega(4n);}
		}
		li:hover {
			box-shadow: 0 $space-third $space 0 rgba(0,0,0,.2);
			position: relative;
			z-index: $layer4;
		}
		.item-image {
			display: block;
			width: 100%;
			height: 180px;
			background-color: $base7;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			// image is added in php
		}
		a {
			display: block;
		}
		.item-title,
		.site-name {
			text-transform: uppercase; 
			letter-spacing: $tracking;
			margin: 0;
			padding: $space-third $space-half 0;
			@include font-size($epsilon);
		}
		.meta {
			margin: 0;
			padding: $space-fourth $space-half 0;
			@include font-size($nano);
			color: $quiet-color;
		}

		//if there is no image
		&.no-site-image li {
			height: 104px;
			background: $navy;
			color: $white;
			a,
			a:link,
			time {
				color: $white;
			}
//			.recent-post {
//				margin-top: .25em;
//			}
//			.recent-post * {
//				display: inline;
//			}
//			.post-meta {
//				font-style: italic;
//				&:before {
//					content: ' - ';
//				}
//			}
		}
	}

}

// NETWORK POSTS LIST

.home {
	.widget_glocal_network_posts_widget {
		
		.item-image {
			width: auto;
			max-height: 150px;
			float: left;
			padding-right: .5em;
		}
		
	}
}