# Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/sunrise.php
!wp-content/civicrm/
!wp-content/plugins/
!wp-content/themes/


# Allow Specific Files
!README.md
!wp-content/setupdocs/

# Ignore Specific Files
wp-content/plugins/wp-multi-network
wp-content/plugins/oauth2-provider

# Development
wp-content/plugins/developer
wp-content/plugins/debug*
wp-content/plugins/rewrite-rules-inspector
wp-content/plugins/theme-check
wp-content/plugins/wp-example-content
wp-content/plugins/wp-stage-switcher
