*.log
.htaccess
.DS_Store
*.bak
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
wp-config.php
civicrm.settings.php
wp-content/plugins/files/
wp-content/plugins/akismet/
wp-content/plugins/hello-dolly/

wp-content/plugins/wp-example-content/content.php
wp-content/plugins/wp-example-content/magic.php
wp-content/plugins/wp-example-content/readme.txt
wp-content/plugins/wp-example-content/screenshot-1.png
wp-content/plugins/wp-example-content/screenshot-2.png
wp-content/plugins/wp-example-content/screenshot-3.png

# wp-content/themes/twentyfifteen/
# wp-content/themes/twentyfourteen/
# wp-content/themes/twentythirteen/
wp-content/themes/network-main-*
wp-content/themes/*/node_modules

license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php~
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

.brackets.json
*.sass-cache
.gitignore~
.htaccess~
