/* --------------------------------------------------
                                Table of Contents
-----------------------------------------------------
:: Buttons
:: Notices/Alerts
:: Tabs
:: Pagination
:: Lists
:: Panels
*/




/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	.button, input#searchsubmit, input#submit, #nav-below a, #nav-above a, #image-navigation a {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		position: relative;
		cursor: pointer;
		border: none;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
	input#searchsubmit {
		padding: 5px 24px 7px;
	}

	input#searchsubmit, input#submit {
		width: auto;
	}

	.button.nice {
		background: #00a6fc url(../../images/button-gloss.png) repeat-x 0 -34px;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
		background: #00a6fc url(../../images/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
		background: #00a6fc url(../../images/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
		border: 1px solid #0593dc;
		-webkit-transition: background-color .15s ease-in-out;
		-moz-transition: background-color .15s ease-in-out;
		-o-transition: background-color .15s ease-in-out;
	}

	.button.radius, #nav-below a, #nav-above a, #image-navigation a {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.left-align {
		text-align: left;
		text-indent: 12px;
	}

	.button:active {}

	/* Sizes ---------- */
	.small.button, #nav-below a, #nav-above a, #image-navigation a { font-size: 11px; padding: 8px 20px 10px; }
	.medium.button 			{ font-size: 13px; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; }

	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #00a6fc;  }
	.red.button				{ background-color: #e91c21; }
	.white.button, #nav-below a, #nav-above a, #image-navigation a			{ background-color: #e9e9e9; color: #333; }
	.charcoal.button		{ background-color: #141414; }

	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.charcoal.button	{ border: 1px solid #000; }

	/* Hovers ---------- */
	.button:hover, input#searchsubmit:hover, input#submit:hover, #nav-below a:hover, #nav-above a:hover, #image-navigation a:hover { background-color: #0192dd; color: #fff; text-decoration: none }
	.blue.button:hover		{ background-color: #0192dd; 	}
	.red.button:hover 		{ background-color: #d01217; 	}
	.white.button:hover,
	#nav-below a,
	#nav-above a {
		background-color: #dadada;
		color: #333;
		line-height: 18px;
	}
	.home #nav-below a,
	.home #nav-above a {
		background-color: #f5f5f5;
		color: #777;
	}
	.home #nav-below a:hover,
	.home #nav-above a:hover {
		background-color: #0192dd;
		color: #fff;
	}
	.charcoal.button:hover	{ background-color: #000; }



/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
    dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; text-transform: capitalize; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0px 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0px; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0px 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0px 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }

    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content > li { display:none; }
    ul.tabs-content > li.active { display: block; }

    dl.contained, dl.nice.contained { margin-bottom: 0px; }
    dl.contained.tabs dd a { padding: 0px 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
    ul.contained.tabs-content li { padding: 20px; border: solid 0px #ddd; border-width: 0px 1px 1px 1px; }
    ul.nice.contained.tabs-content li { border-color: #eee; }

/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
    ul.pagination { display: block; height: 24px; margin-left: -5px; }
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.current a, ul.pagination li:hover a { border-bottom: solid 2px #00a6fc; color: #141414; }
    ul.pagination li.unavailable a { cursor: default; color: #999; }
    ul.pagination li.unavailable:hover a { border-bottom: none; }


/*  --------------------------------------------------
    Lists
    -------------------------------------------------- */
    ul.nice, ol.nice { list-style: none; margin: 0; }
    ul.nice li, ol.nice li { padding-left: 13px; position: relative }
    ul.nice li span.bullet, ol.nice li span.number { position: absolute; left: 0px; top: 0px; color: #ccc; }


/* --------------------------------------------------
   Notices/Alerts
---------------------------------------------------*/
/* Alerts cannot be closed and notices can */

	.notice, .alert {
		position: relative;
	    background: #222 url(../../images/button-overlay.png) repeat-x bottom;
	    width: 100%;
	    margin: 10px 0;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    color: #fff;
	    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	    font-weight: bold;
	}
	.notice>span, .alert>span {
	    display: block;
	    padding: 5px 10px 6px;
	}
	.notice a.close {
	    font-size: 20px;
	    line-height: .5;
	    color: #fff;
	    text-shadow: 0 -1px 1px rbga(0,0,0,.25);
	    font-weight: bold;
	    cursor: pointer;
	    position: absolute;
	    right: 10px;
	    top: 6px;
	}

	/*  NOTES

	Close button entity is &#215;
	Sample Markup:
	<div class="notice"><span>
		This is awesome
		<a class="close" href="#">&#215;</a>
	</span></div>

*/



/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel {
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}

	/*	--------------------------------------------------
	Labels
	-------------------------------------------------- */
	.label {
	  padding: 1px 3px 2px;
	  background-color: #bfbfbf;
	  font-size: 9.75px;
	  font-weight: bold;
	  color: #ffffff;
	  text-transform: uppercase;
	  white-space: nowrap;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	}
	.label.important {
	  background-color: #c43c35;
	}
	.label.warning {
	  background-color: #f89406;
	}
	.label.success {
	  background-color: #46a546;
	}
	.label.notice {
	  background-color: #62cffc;
	}



