/*
 Theme Name:   Network Partner
 Theme URI:    http://glocal.coop
 Description:  Child theme for a single page partner site, based on the Network Main theme
 Author:       Pea, Glocal Coop
 Author URI:   http://glocal.coop
 Template:     network-main
 Version:      1.0.0
 Tags:         two-columns, right-sidebar, responsive-layout
 Text Domain:  network-partner
*/

/*@import url("../network-main/style.css");*/

/* =Theme customization starts here */



