/*
 Theme Name:   Network Main - Movement for Black Lives
 Theme URI:    http://glocal.coop
 Description:  Description: A custom child theme for the main network site.
 Author:       Pea, Glocal Coop
 Author URI:   http://glocal.coop
 Template:     network-main
 Version:      1.0.0
 Tags:         two-columns, right-sidebar, responsive-layout
 Text Domain:  network-main-child
*/

/*********************************************************************

This theme's main stylesheet is located in library/css/style.css

*********************************************************************/


